:root {
  --border-radius: 4px
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 45px;
  color: aliceblue;
  font-weight: 600px;
  text-shadow: 2px 2px 2px black;
}

header {
  text-align: center;
  padding: 4px 10%;
  margin-bottom: 50px;
  background-color: rgb(52, 108, 74);
}

.app {
  background: url(../src/images/trees-gbe4727d12_1920.jpg);
  background-repeat: no-repeat;
  height: 100vh;
}

.taskCard {
  width: 250px;
  padding: 10px 25px;
  margin:  10px 1%;
  background-color: rgb(91, 154, 134);
  border-radius: 5px;
}

.taskCardTitleInputArea {
  margin-bottom: 10px;
  width: 50%;
  cursor: pointer;
}

.taskCardTitleInput {
  width: 120px;
  font-size: 1.1rem;
  padding: 4px 6px;
  border-radius: var(--border-radius);
  border: none;
  outline: none;
}

.taskAddInput {
  width: 100%;
  font-size: 1.1rem;
  padding: 10px 12px;
  border-radius: var(--border-radius);
  border: none;
  outline: none;

}

.taskBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0;
  margin-top: 10px;
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 1px 1px rgba(75, 75, 75);
}

.taskText {
  margin-left: 12px;
}

.taskTrashButton {
  cursor: pointer;
  margin-right: 12px;
  border: none;
}